//----------------------------------*\
// STYLES
//----------------------------------*/
/**
 * Border box all the things
 */
* {
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

/*
 * Highlighting colors
 */
::-webkit-selection{
	background: $highlight-background-color;
	color: $highlight-text-color;
	text-shadow: none;
}

::selection{
	background: $highlight-background-color;
	color: $highlight-text-color;
	text-shadow: none;
}

/**
 * HTML tag
 */
html {
	font-size: #{$reset-font-size}#{'%'}; // Reset HTML font size to ~10px so that REM font measurement can be easily divided
	background-image: url('../img/background.jpg');
	background-size: cover;
}

/**
 * BODY tag
 */
body {
	color: $base-font-color;
	font-family: $base-font-family;
	@include font-rem($base-font-size);
	line-height: #{$base-line-height};
	text-align: #{$base-text-align};
	padding: 0 $base-page-gutter;
}