//----------------------------------*\
// VARS
//----------------------------------*/
// base
$base-button-font-family: $primary-font-family;
$base-button-font-family-alternate: $secondary-font-family;
$base-button-font-size: 13;
$base-button-padding: 5px 20px;

// medium
$button-font-size-medium: 17;
$button-padding-medium: 10px 20px;

// large
$button-font-size-large: 21;
$button-padding-large: 20px 20px;

// base colors
$base-button-color-font: $white;
$base-button-background: $primary-color;
$base-button-color-font-hover: lighten($base-button-color-font,10%);
$base-button-background-hover: darken($base-button-background,10%);

// secondary colors
$button-color-font-secondary: $white;
$button-background-secondary: $secondary-color;
$button-color-font-secondary-hover: lighten($button-color-font-secondary,10%);
$button-background-secondary-hover: darken($button-background-secondary,10%);

// tiertiary one colors
$button-color-font-tiertiary-one: $white;
$button-background-tiertiary-one: $tiertiary-color-one;
$button-color-font-tiertiary-one-hover: lighten($button-color-font-tiertiary-one,10%);
$button-background-tiertiary-one-hover:  darken($button-background-tiertiary-one,10%);

// tiertiary two colors
$button-color-font-tiertiary-two: $white;
$button-background-tiertiary-two: $tiertiary-color-two;
$button-color-font-tiertiary-two-hover: lighten($button-color-font-tiertiary-two,10%);
$button-background-tiertiary-two-hover: darken($button-background-tiertiary-two,10%);

//----------------------------------*\
// STYLES
//----------------------------------*/
.button, [type="submit"] {
	cursor: pointer;
	position: relative;
	display: inline-block;
	@include font-rem($base-button-font-size);
	font-family: $base-button-font-family;
	line-height: normal;
	color: $base-button-color-font;
	text-decoration: none;
	text-align: center;
	background: $base-button-background;
	padding: $base-button-padding;
	vertical-align: middle;
	white-space: nowrap;
	border-radius: 999em;

	&:hover {
		color: $base-button-color-font-hover;
		background: $base-button-background-hover;
	}

	&.inline {
		top: -6px;
	}

	&.medium {
		@include font-rem($button-font-size-medium);
		padding: $button-padding-medium;
	}

	&.large {
		@include font-rem($button-font-size-large);
		padding: $button-padding-large;
	}

	&.square {
		border-radius: 0;
	}

	&.alt-font {
		font-family: $base-button-font-family-alternate;
	}

	&.secondary {
		color: $button-color-font-secondary;
		background: $button-background-secondary;

		&:hover {
			color: $button-color-font-secondary-hover;
			background: $button-background-secondary-hover;
		}
	}

	&.tiertiary-one {
		color: $button-color-font-tiertiary-one;
		background: $button-background-tiertiary-one;

		&:hover {
			color: $button-color-font-tiertiary-one-hover;
			background: $button-background-tiertiary-one-hover;
		}
	}

	&.tiertiary-two {
		color: $button-color-font-tiertiary-two;
		background: $button-background-tiertiary-two;

		&:hover {
			color: $button-color-font-tiertiary-two-hover;
			background: $button-background-tiertiary-two-hover;
		}
	}

	[class^="icon-"] {
		position: relative;
		top: 1px;
		@include font-rem(14);
	}

	& + .button {
		margin-left: 15px;
	}
}

/*
 * Button : Submit
 */
[type="submit"] {
	border: 0 none;
}