/**
 * Color Modifiers
 */

$styles: (
	'background': 'background-color',
	'color': 'color',
);

$styles-hover: (
	'background-hover': 'background-color',
	'color-hover': 'color',
);

$colors: (
	'green':  $green,
	'blue':   $blue,
	'red':    $red,
	'yellow': $yellow
);

@each $s-class, $s in $styles {
	.#{$s-class} {
		@each $c, $color in $colors {
			@include m('#{$c}') {
				#{$s}: $color;
			}
		}
	}
}

@each $s-class, $s in $styles-hover {
	.#{$s-class} {
		@each $c, $color in $colors {
			@include m('#{$c}') {
				&:hover {
					#{$s}: $color;
				}
			}
		}
	}
}