//----------------------------------*\
// VARS
//----------------------------------*/
// heading font sizes based off $base-font-size = 15
$heading-font-sizes: (
	'h1': floor(($base-font-size * 2.4)), // ~36px
	'h2': floor(($base-font-size * 2.0)), // ~30px
	'h3':  ceil(($base-font-size * 1.6)), // ~24px
	'h4':  ceil(($base-font-size * 1.2)), // ~18px
	'h5': $base-font-size,
	'h6':  ceil(($base-font-size * 0.8))  // ~12px
);

$headings-font-family: inherit;
$headings-font-weight: 700;
$headings-line-height: 1.1;
$headings-color:       inherit;

$link-color: $secondary-color;
$link-color-hover: $primary-color;

$blockquote-font-size:     ceil(($base-font-size * 1.2)); // ~18px
$blockquote-border-color:  $gray-light;
$page-header-border-color: $gray-light;
$blockquote-small-color:   $gray-light;

$hr-color: #ccc;

//----------------------------------*\
// STYLES
//----------------------------------*/
/*
 * Headings
 */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: $headings-color;
	font-family: $secondary-font-family;
	font-weight: $headings-font-weight;
}

@each $h, $h-size in $heading-font-sizes {
	#{$h}, .#{$h} {
		@include font-rem($h-size);
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	margin-top: $line-height-computed;
	margin-bottom: ($line-height-computed / 2);
}

.heading {
	&__title,
	&__subtitle {
		color: $white;
		line-height: 1.3;
		text-transform: uppercase;
		text-shadow: 0 1px 1px #9f6354;
		margin: 0;
	}

	@include e('title') {
		@include font-rem(42);
		margin-top: 1.9em;
	}

	@include e('subtitle') {
		@include font-rem(20);
		margin-bottom: 3.9em;
	}
}

/**
 * Body Text
 */
p {
	margin: 0 0 ($line-height-computed * 2);
}

/*
 * Links
 */
a {
	color: $link-color;
	transition: all $transition-ease $transition-time;

	&:hover {
		color: $link-color-hover;
		transition: all $transition-ease $transition-time;
	}
}

/**
 * Lists
 */
ul,
ol {
	margin-top: 0;
	margin-bottom: ($line-height-computed / 2);

	ul,
	ol {
		margin-bottom: 0;
	}
}

%list-unstyled,
.list-unstyled {
	padding-left: 0;
	list-style: none;
}

/**
 * Blockquotes
 */
blockquote {
	@include font-rem($blockquote-font-size);
	border-left: 5px solid $blockquote-border-color;
	padding: ($line-height-computed / 2) $line-height-computed;
	margin: 0 0 $line-height-computed;

	p,
	ul,
	ol {
		&:last-child {
			margin-bottom: 0;
		}
	}

	footer {
		display: block;
		font-size: 80%; // back to default font-size
		line-height: $base-line-height;
		color: $blockquote-small-color;

		&:before {
		  content: '\2014 \00A0'; // em dash, nbsp
		}
	}

	&-reverse {
		padding-right: 15px;
		padding-left: 0;
		border-right: 5px solid $blockquote-border-color;
		border-left: 0;
		text-align: right;

		// Account for citation
		footer {
			&:before { content: ''; }
			&:after {
				content: '\00A0 \2014'; // nbsp, em dash
			}
		}
	}
}

/*
 * A better looking default horizontal rule
 */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $hr-color;
	margin: 1em 0;
	padding: 0;
}

/**
 * Text meant only for screen readers
 */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}