// fonts
$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Cabin', sans-serif;

// client colors
$primary-color: #f0f !default;
$secondary-color: #f00 !default;
$tiertiary-color-one: #ff0 !default;
$tiertiary-color-two: #0ff !default;
$tiertiary-color-three: #00f !default;

// sizing
$base-max-width: 100% !default;
$base-page-gutter: 20px !default;

// font sizing
$reset-font-divider: 10;
$reset-font-size: ( 100 / 16 ) * $reset-font-divider !default;
$base-font-size: 15 !default;
$base-font-size-calc: 0.4em !default; // used for calculations
$base-line-height: 1.7 !default;
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    ($base-font-size-calc * $base-line-height) !default; // ~25px

// font styles
$primary-font-family: $primary-font-family !default;
$secondary-font-family: serif !default;
$base-font-family: $primary-font-family !default;
$base-font-color: #8e8071 !default;
$base-text-align: center !default;

// monochrome colors
$black: #000;
$gray-darker:  lighten($black, 13.5%) !default; // #222
$gray-dark:    lighten($black, 33.5%) !default; // #555
$gray:         lighten($black, 53.5%) !default; // #888
$gray-light:   lighten($black, 73.5%) !default; // #bbb
$gray-lighter: lighten($black, 93.5%) !default; // #eee
$white: #fff;

// multi colors
$blue:         #337ab7 !default;
$green:        #4daf7b !default;
$blue:         #5e90af !default;
$orange:       #f0ad4e !default;
$red:          #e55e3a !default;
$yellow:       #ebc85e !default;

// widgets
$tan:          #8e8071 !default;
$brown-light:  #f8f3f0 !default;
$brown-dark:   #5c5146 !default;

// miscellaneous
$highlight-background-color: $blue !default;
$highlight-text-color: $white !default;

// transitions
$transition-ease: ease;
$transition-time: 0.3s;