@font-face {
	font-family: 'zachs-widgets';
	src:url('../fonts/iconfont/zachs-widgets.eot?-hnefj4');
	src:url('../fonts/iconfont/zachs-widgets.eot?#iefix-hnefj4') format('embedded-opentype'),
		url('../fonts/iconfont/zachs-widgets.ttf?-hnefj4') format('truetype'),
		url('../fonts/iconfont/zachs-widgets.woff?-hnefj4') format('woff'),
		url('../fonts/iconfont/zachs-widgets.svg?-hnefj4#zachs-widgets') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'zachs-widgets';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
	content: "\e608";
}
.icon-mapmarker:before {
	content: "\e601";
}
.icon-back-in-time:before {
	content: "\e606";
}
.icon-upload-to-cloud:before {
	content: "\e607";
}
.icon-eye:before {
	content: "\e604";
}
.icon-stats-bars:before {
	content: "\e609";
}
.icon-user:before {
	content: "\e600";
}
.icon-comment:before {
	content: "\e605";
}
.icon-heart:before {
	content: "\e602";
}
.icon-cog:before {
	content: "\e603";
}
