/*!
 *
 *  Congrats! You Found the Official Stylesheet
 *   ______  ___  _____  _   _ _ _____     _    _ ___________ _____  _____ _____ _____
 *  |___  / / _ \/  __ \| | | ( )  ___|   | |  | |_   _|  _  \  __ \|  ___|_   _/  ___|
 *     / / / /_\ \ /  \/| |_| |/\ `--.    | |  | | | | | | | | |  \/| |__   | | \ `--.
 *    / /  |  _  | |    |  _  |  `--. \   | |/\| | | | | | | | | __ |  __|  | |  `--. |
 *  ./ /___| | | | \__/\| | | | /\__/ /   \  /\  /_| |_| |/ /| |_\ \| |___  | | /\__/ /
 *  \_____/\_| |_/\____/\_| |_/ \____/     \/  \/ \___/|___/  \____/\____/  \_/ \____/
 *
 */
/**
 * Font REM
 * -- convert and output px and rem
 * -- font-rem( $font-size-px )
 */
/**
 * BEM Mixin
 * -- rapidly deploy BEM syntax
 */
/**
 * Responsive Media Query Helpers
 * -- responsiveQuery(xs)
 * -- responsiveQuery("(min-width: 100em)")
 */
/**
 * Clearfix as a mixin
 */
/**
 * Gradients
 */
/**
 * Grayscale Filter
 * -- grayscale( on )
 * -- grayscale( off )
 */
/**
 * Retina Image Helper
 *
 * A helper mixin for applying high-resolution background images (http://www.retinajs.com)
 * by Nathan Crank (nathancrank.com)
 */
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/**
 * Color Modifiers
 */
.background--green, .tabbed-chart__content--stats__item[data-color="green"]:before {
  background-color: #4daf7b;
}

.background--blue, .tabbed-chart__content--stats__item[data-color="blue"]:before {
  background-color: #337ab7;
}

.background--red, .tabbed-chart__content--stats__item[data-color="red"]:before {
  background-color: #e55e3a;
}

.background--yellow, .tabbed-chart__content--stats__item[data-color="yellow"]:before {
  background-color: #ebc85e;
}

.color--green {
  color: #4daf7b;
}

.color--blue {
  color: #337ab7;
}

.color--red {
  color: #e55e3a;
}

.color--yellow {
  color: #ebc85e;
}

.background-hover--green:hover {
  background-color: #4daf7b;
}

.background-hover--blue:hover {
  background-color: #337ab7;
}

.background-hover--red:hover {
  background-color: #e55e3a;
}

.background-hover--yellow:hover {
  background-color: #ebc85e;
}

.color-hover--green:hover {
  color: #4daf7b;
}

.color-hover--blue:hover {
  color: #337ab7;
}

.color-hover--red:hover {
  color: #e55e3a;
}

.color-hover--yellow:hover {
  color: #ebc85e;
}

/**
 * Border box all the things
 */
* {
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

/*
 * Highlighting colors
 */
::-webkit-selection {
  background: #337ab7;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #337ab7;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #337ab7;
  color: #fff;
  text-shadow: none;
}

/**
 * HTML tag
 */
html {
  font-size: 62.5%;
  background-image: url("../img/background.jpg");
  background-size: cover;
}

/**
 * BODY tag
 */
body {
  color: #8e8071;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: center;
  padding: 0 20px;
}

/*
 * Headings
 */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: inherit;
  font-family: "Cabin", sans-serif;
  font-weight: 700;
}

h1, .h1 {
  font-size: 36px;
  font-size: 3.6rem;
}

h2, .h2 {
  font-size: 30px;
  font-size: 3rem;
}

h3, .h3 {
  font-size: 24px;
  font-size: 2.4rem;
}

h4, .h4 {
  font-size: 18px;
  font-size: 1.8rem;
}

h5, .h5 {
  font-size: 15px;
  font-size: 1.5rem;
}

h6, .h6 {
  font-size: 12px;
  font-size: 1.2rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0.68em;
  margin-bottom: 0.34em;
}

.heading__title,
.heading__subtitle {
  color: #fff;
  line-height: 1.3;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #9f6354;
  margin: 0;
}

.heading__title {
  font-size: 42px;
  font-size: 4.2rem;
  margin-top: 1.9em;
}

.heading__subtitle {
  font-size: 20px;
  font-size: 2rem;
  margin-bottom: 3.9em;
}

/**
 * Body Text
 */
p {
  margin: 0 0 1.36em;
}

/*
 * Links
 */
a {
  color: #f00;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
}

a:hover {
  color: #f0f;
  -webkit-transition: all ease 0.3s;
          transition: all ease 0.3s;
}

/**
 * Lists
 */
ul,
ol {
  margin-top: 0;
  margin-bottom: 0.34em;
}

ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/**
 * Blockquotes
 */
blockquote {
  font-size: 18px;
  font-size: 1.8rem;
  border-left: 5px solid #bbbbbb;
  padding: 0.34em 0.68em;
  margin: 0 0 0.68em;
}

blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}

blockquote footer {
  display: block;
  font-size: 80%;
  line-height: 1.7;
  color: #bbbbbb;
}

blockquote footer:before {
  content: '\2014 \00A0';
}

blockquote-reverse {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #bbbbbb;
  border-left: 0;
  text-align: right;
}

blockquote-reverse footer:before {
  content: '';
}

blockquote-reverse footer:after {
  content: '\00A0 \2014';
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/**
 * Text meant only for screen readers
 */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/**
 * Images
 */
img {
  max-width: 100%;
  height: auto;
}

/**
 * Responsive Embeds
 */
.embed-responsive {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 0;
  padding: 0;
}

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.embed-responsive--ar16x9 {
  padding-top: 56.25%;
}

.embed-responsive--ar4x3 {
  padding-top: 75%;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}

.button, [type="submit"] {
  cursor: pointer;
  position: relative;
  display: inline-block;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  color: #fff;
  text-decoration: none;
  text-align: center;
  background: #f0f;
  padding: 5px 20px;
  vertical-align: middle;
  white-space: nowrap;
  border-radius: 999em;
}

.button:hover, [type="submit"]:hover {
  color: white;
  background: #cc00cc;
}

.button.inline, [type="submit"].inline {
  top: -6px;
}

.button.medium, [type="submit"].medium {
  font-size: 17px;
  font-size: 1.7rem;
  padding: 10px 20px;
}

.button.large, [type="submit"].large {
  font-size: 21px;
  font-size: 2.1rem;
  padding: 20px 20px;
}

.button.square, [type="submit"].square {
  border-radius: 0;
}

.button.alt-font, [type="submit"].alt-font {
  font-family: "Cabin", sans-serif;
}

.button.secondary, [type="submit"].secondary {
  color: #fff;
  background: #f00;
}

.button.secondary:hover, [type="submit"].secondary:hover {
  color: white;
  background: #cc0000;
}

.button.tiertiary-one, [type="submit"].tiertiary-one {
  color: #fff;
  background: #ff0;
}

.button.tiertiary-one:hover, [type="submit"].tiertiary-one:hover {
  color: white;
  background: #cccc00;
}

.button.tiertiary-two, [type="submit"].tiertiary-two {
  color: #fff;
  background: #0ff;
}

.button.tiertiary-two:hover, [type="submit"].tiertiary-two:hover {
  color: white;
  background: #00cccc;
}

.button [class^="icon-"], [type="submit"] [class^="icon-"] {
  position: relative;
  top: 1px;
  font-size: 14px;
  font-size: 1.4rem;
}

.button + .button, [type="submit"] + .button {
  margin-left: 15px;
}

/*
 * Button : Submit
 */
[type="submit"] {
  border: 0 none;
}

.mod--shadow {
  box-shadow: 0 0 12px rgba(171, 139, 110, 0.38);
}

.mod--rounded {
  border-radius: 4px;
}

.mod--show {
  display: block;
}

.mod--hide {
  display: none;
}

.mod-width--one-fourth {
  width: 25%;
}

.mod-width--one-half {
  width: 50%;
}

/**
 * Main Navigation
 */
.main-nav__list {
  list-style: none;
  background-color: #fff;
  padding: 0;
  margin: 0 0 1em;
}

.main-nav__list:hover {
  overflow: visible;
}

.main-nav__list--item {
  position: relative;
  float: left;
  width: 25%;
  border-left: 1px solid #f6f0ec;
  padding: 0;
  margin: 0;
}

.main-nav__list--item:first-child {
  border-left: 0 none;
}

.main-nav__list--item:first-child > a {
  border-radius: 4px 0 0 4px;
}

.main-nav__list--item:last-child {
  border-left: 0 none;
}

.main-nav__list--item:last-child > a {
  border-radius: 0 4px 4px 0;
}

.main-nav__list--item.has--dropdown:first-child > a:hover {
  border-bottom-left-radius: 0;
}

.main-nav__list--item.has--dropdown:last-child > a:hover {
  border-bottom-right-radius: 0;
}

.main-nav__list--item__link {
  position: relative;
  display: block;
  color: #8e8071;
  font-size: 17px;
  font-size: 1.7rem;
  letter-spacing: -.05em;
  line-height: 65px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background ease 0.3s;
          transition: background ease 0.3s;
}

.main-nav__list--item__link > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 68%;
  line-height: 1.1;
}

.main-nav__list--item__link [class*="icon-"] {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.main-nav__list--item__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #4daf7b;
  opacity: 0;
  -webkit-transition: opacity ease 0.3s;
          transition: opacity ease 0.3s;
}

.main-nav__list--item__link:hover,
.active .main-nav__list--item__link {
  color: #8e8071;
  background-color: #f8f3f0;
}

.main-nav__list--item__link:hover:after,
.active .main-nav__list--item__link:after {
  opacity: 1;
}

.main-nav__list--item__link [data-alert]:after {
  content: attr(data-alert);
  position: relative;
  display: inline-block;
  vertical-align: top;
  min-width: 7px;
  height: 13px;
  color: #fff;
  font-size: 9px;
  font-size: 0.9rem;
  font-weight: bold;
  font-family: sans-serif;
  line-height: 14px;
  letter-spacing: 0;
  background-color: #e55e3a;
  border-radius: 99em;
  padding: 0 3px;
  margin: -8px 0 0 1px;
}

.main-nav__dropdown {
  overflow: hidden;
  position: absolute;
  max-height: 0;
  top: 65px;
  left: 0;
  width: 100%;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 6px 12px rgba(171, 139, 110, 0.38);
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-transition: max-height ease 0.3s;
          transition: max-height ease 0.3s;
}

.active .main-nav__dropdown {
  max-height: 500px;
}

.main-nav__dropdown--item {
  text-align: left;
}

.main-nav__dropdown--item__link {
  position: relative;
  display: block;
  color: #8e8071;
  font-size: 13px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
  text-decoration: none;
  padding: 11px 0 12px 25px;
}

.main-nav__dropdown--item__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #4daf7b;
  opacity: 0;
  -webkit-transition: opacity ease 0.3s;
          transition: opacity ease 0.3s;
}

.main-nav__dropdown--item__link:hover {
  color: #8e8071;
  background-color: #f8f3f0;
}

.main-nav__dropdown--item__link:hover:after {
  opacity: 1;
}

/**
 * Blog Post
 */
.blogpost {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 370px;
  margin: 1em;
}

.blogpost__author {
  background-color: #fff;
  padding: 26px 0;
}

.blogpost__author--avatar {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d3cec9;
  border-radius: 99em;
  margin: 0 18px;
}

.blogpost__author--avatar__wrap {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  border-radius: 99em;
  border: 7px solid #fff;
}

.blogpost__author--info {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  width: 64%;
  line-height: 1.4;
  text-align: left;
}

.blogpost__author--info__name {
  display: block;
  color: #5c5146;
  font-size: 28px;
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: -.04em;
}

.blogpost__author--info__bio {
  display: block;
  font-size: 13px;
  font-size: 1.3rem;
  letter-spacing: -.02em;
}

.blogpost__actions {
  font-size: 17px;
  font-size: 1.7rem;
  background-color: #f6f1ed;
  list-style: none;
  padding: 0;
  margin: 0;
}

.blogpost__actions--item {
  float: left;
  width: 33.333%;
  border-left: 1px solid #fff;
  padding: 0;
}

.blogpost__actions--item:first-child {
  border-left: 0 none;
}

.blogpost__actions--item__link {
  display: block;
  color: #b1a599;
  font-weight: bold;
  text-decoration: none;
  padding: 11px 0 9px;
}

.blogpost__actions--item [class*="icon-"] {
  position: relative;
  top: 1px;
  margin-right: 5px;
}

/**
 * Tabbed Chart
 */
.tabbed-chart {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  width: 308px;
  margin: 1em;
}

.tabbed-chart__tabs {
  position: relative;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  list-style: none;
  padding: 0;
  margin: 0 0 -2px;
}

.tabbed-chart__tabs--item {
  cursor: pointer;
  float: left;
  width: 49%;
  color: #fff;
  line-height: 44px;
  border: solid rgba(255, 255, 255, 0.5);
  border-width: 1px 1px 0;
  border-radius: 4px 4px 0 0;
  margin-left: 1%;
}

.tabbed-chart__tabs--item:first-child {
  width: 50%;
  border-color: #fff;
  margin-left: 0;
}

.tabbed-chart__tabs .current {
  cursor: default;
  color: #8e8071;
  background-color: #fff;
}

.tabbed-chart__content {
  background-color: #fff;
  padding: 16px 0 0;
}

.tabbed-chart__content--title {
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.1;
  text-transform: uppercase;
  padding: 23px 0;
}

.tabbed-chart__content--diagram {
  position: relative;
}

.tabbed-chart__content--diagram__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: bold;
  text-align: center;
}

.tabbed-chart__content--diagram__info > span {
  display: inline-block;
  vertical-align: middle;
  color: #e55e3a;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.1;
}

.tabbed-chart__content--diagram__info b {
  display: block;
  color: #8e8071;
  font-size: 33px;
  font-size: 3.3rem;
}

.tabbed-chart__content--stats {
  padding-top: 36px;
}

.tabbed-chart__content--stats__item {
  position: relative;
  float: left;
  width: 33.333%;
  font-size: 29px;
  font-size: 2.9rem;
  font-weight: bold;
  line-height: 83px;
  background-color: #f6f0ec;
  border-left: 1px solid #fff;
}

.tabbed-chart__content--stats__item:first-child {
  border-left: 0 none;
}

.tabbed-chart__content--stats__item:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
}

.tabbed-chart__content--stats__item > span {
  position: relative;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
}

.tabbed-chart__content--stats__item small {
  display: block;
  color: #a09b96;
  font-size: 15px;
  font-size: 1.5rem;
  text-transform: lowercase;
}

.tabbed-chart__actions {
  background-color: #776b5e;
  box-shadow: inset 0 2px 5px rgba(73, 73, 73, 0.36);
  list-style: none;
  padding: 0;
  margin: 0;
}

.tabbed-chart__actions--item {
  float: left;
  width: 33.333%;
}

.tabbed-chart__actions--item__link {
  display: block;
  color: #fff;
  line-height: 1.3;
  text-align: center;
  text-decoration: none;
  border-top: 1px solid #fff;
  padding: 17px 0 16px;
}

.tabbed-chart__actions--item__link:hover {
  color: #fff;
  background-color: #64584c;
}

.tabbed-chart__actions--item__link [class*="icon-"] {
  font-size: 24px;
  font-size: 2.4rem;
}

.tabbed-chart__actions--item__link small {
  display: block;
  font-size: 11px;
  font-size: 1.1rem;
  text-transform: uppercase;
}

/**
 * Profile
 */
.profile {
  overflow: hidden;
  display: inline-block;
  width: 283px;
  margin: 1em;
}

.profile__user {
  background-color: #b1a599;
  padding: 26px 0;
}

.profile__user--avatar {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid rgba(100, 88, 76, 0.5);
  border-radius: 99em;
  margin: 0 10px 0 20px;
}

.profile__user--avatar__wrap {
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  border-radius: 99em;
  border: 7px solid transparent;
}

.profile__user--info {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 56%;
  line-height: 1.4;
  text-align: left;
}

.profile__user--info__name {
  display: block;
  color: #fff;
  font-size: 17px;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -.04em;
  text-transform: uppercase;
}

.profile__user--info__bio {
  display: block;
  color: #3a2f24;
  font-size: 13px;
  font-size: 1.3rem;
  letter-spacing: -.02em;
  padding-top: 5px;
}

.profile__actions {
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
}

.profile__actions--item {
  padding: 0;
}

.profile__actions--item__link {
  position: relative;
  display: block;
  color: #8e8071;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1;
  text-decoration: none;
  text-align: left;
  padding: 12px 20px;
}

.profile__actions--item__link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background-color: #4daf7b;
  opacity: 0;
  -webkit-transition: opacity ease 0.3s;
          transition: opacity ease 0.3s;
}

.profile__actions--item__link:hover,
.current .profile__actions--item__link {
  color: #8e8071;
  background-color: #f8f3f0;
}

.profile__actions--item__link:hover:after,
.current .profile__actions--item__link:after {
  opacity: 1;
}

.profile__actions--item__link:hover [class*="icon-"],
.current .profile__actions--item__link [class*="icon-"] {
  color: #e55e3a;
}

.profile__actions--item [class*="icon-"] {
  float: right;
  color: #c6bfb8;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

.main-nav__list:before,
.blogpost__actions:before,
.tabbed-chart__tabs:before,
.tabbed-chart__content--stats:before,
.tabbed-chart__actions:before,
.profile__actions:before,
.main-nav__list:after,
.blogpost__actions:after,
.tabbed-chart__tabs:after,
.tabbed-chart__content--stats:after,
.tabbed-chart__actions:after,
.profile__actions:after,
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.main-nav__list:after,
.blogpost__actions:after,
.tabbed-chart__tabs:after,
.tabbed-chart__content--stats:after,
.tabbed-chart__actions:after,
.profile__actions:after,
.clearfix:after {
  clear: both;
}
