//----------------------------------*\
// VARS
//----------------------------------*/

//----------------------------------*\
// STYLES
//----------------------------------*/
.mod {
	@include m('shadow') {
		box-shadow: 0 0 12px rgba(#ab8b6e,.38);
	}

	@include m('rounded') {
		border-radius: 4px;
	}

	@include m('show') {
		display: block;
	}

	@include m('hide') {
		display: none;
	}

	&-width {
		@include m('one-fourth') {
			width: 25%;
		}
		@include m('one-half') {
			width: 50%;
		}
	}
}

.widget {
	&-type {
		@include m('blogpost') {

		}
	}
}