/**
 * Blog Post
 */
.blogpost {
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	width: 370px;
	margin: 1em;

	@include e('featured-image') {

	}

	@include e('author') {
		background-color: $white;
		padding: 26px 0;

		@include m('avatar') {
			display: inline-block;
			vertical-align: middle;
			border: 1px solid #d3cec9;
			border-radius: 99em;
			margin: 0 18px;

			@include e('wrap') {
				overflow: hidden;
				display: inline-block;
				vertical-align: top;
				border-radius: 99em;
				border: 7px solid $white;
			}
		}

		@include m('info') {
			position: relative;
			top: -2px;
			display: inline-block;
			vertical-align: middle;
			width: 64%;
			line-height: 1.4;
			text-align: left;

			@include e('name') {
				display: block;
				color: $brown-dark;
				@include font-rem(28);
				font-weight: 600;
				letter-spacing: -.04em;
			}

			@include e('bio') {
				display: block;
				@include font-rem(13);
				letter-spacing: -.02em;
			}
		}
	}

	@include e('actions') {
		@include clearfix();
		@include font-rem(17);
		background-color: #f6f1ed;
		list-style: none;
		padding: 0;
		margin: 0;

		@include m('wrap') {

		}

		@include m('item') {
			float: left;
			width: 33.333%;
			border-left: 1px solid $white;
			padding: 0;

			&:first-child {
				border-left: 0 none;
			}

			@include e('link') {
				display: block;
				color: #b1a599;
				font-weight: bold;
				text-decoration: none;
				padding: 11px 0 9px;
			}

			[class*="icon-"] {
				position: relative;
				top: 1px;
				margin-right: 5px;
			}
		}
	}
}