/**
 * Main Navigation
 */
.main-nav {
	@include e('list') {
		@include clearfix();
		list-style: none;
		background-color: $white;
		padding: 0;
		margin: 0 0 1em;

		&:hover {
			overflow: visible;
		}

		@include m('item') {
			position: relative;
			float: left;
			width: 25%;
			border-left: 1px solid #f6f0ec;
			padding: 0;
			margin: 0;

			&:first-child {
				border-left: 0 none;

				> a {
					border-radius: 4px 0 0 4px;
				}
			}

			&:last-child {
				border-left: 0 none;

				> a {
					border-radius: 0 4px 4px 0;
				}
			}

			&.has--dropdown {
				&:first-child {
					> a:hover {
						border-bottom-left-radius: 0;
					}
				}

				&:last-child {
					> a:hover {
						border-bottom-right-radius: 0;
					}
				}
			}

			@include e('link') {
				position: relative;
				display: block;
				color: $tan;
				@include font-rem(17);
				letter-spacing: -.05em;
				line-height: 65px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				transition: background $transition-ease $transition-time;

				> span {
					position: relative;
					display: inline-block;
					vertical-align: middle;
					width: 68%;
					line-height: 1.1;
				}

				[class*="icon-"] {
					position: relative;
					top: -1px;
					vertical-align: middle;
				}

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: $green;
					opacity: 0;
					transition: opacity $transition-ease $transition-time;
				}

				&:hover,
				.active & {
					color: $tan;
					background-color: $brown-light;

					&:after {
						opacity: 1;
					}
				}

				[data-alert] {
					&:after {
						content: attr(data-alert);
						position: relative;
						display: inline-block;
						vertical-align: top;
						min-width: 7px;
						height: 13px;
						color: $white;
						@include font-rem(9);
						font-weight: bold;
						font-family: sans-serif;
						line-height: 14px;
						letter-spacing: 0;
						background-color: #e55e3a;
						border-radius: 99em;
						padding: 0 3px;
						margin: -8px 0 0 1px;
					}
				}
			}
		}
	}

	@include e('dropdown') {
		overflow: hidden;
		position: absolute;
		max-height: 0;
		top: 65px;
		left: 0;
		width: 100%;
		background-color: $white;
		border-radius: 0 0 4px 4px;
		box-shadow: 0 6px 12px rgba(#ab8b6e,.38);
		list-style: none;
		padding: 0;
		margin: 0;
		transition: max-height $transition-ease $transition-time;

		.active & {
			max-height: 500px;
		}

		@include m('item') {
			text-align: left;

			@include e('link') {
				position: relative;
				display: block;
				color: $tan;
				@include font-rem(13);
				font-weight: bold;
				line-height: 1.1;
				text-transform: uppercase;
				text-decoration: none;
				padding: 11px 0 12px 25px;

				&:after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					width: 3px;
					height: 100%;
					background-color: $green;
					opacity: 0;
					transition: opacity $transition-ease $transition-time;
				}

				&:hover {
					color: $tan;
					background-color: $brown-light;

					&:after {
						opacity: 1;
					}
				}

			}
		}
	}
}