/**
 * Profile
 */
.profile {
	overflow: hidden;
	display: inline-block;
	width: 283px;
	margin: 1em;

	@include e('user') {
		background-color: #b1a599;
		padding: 26px 0;

		@include m('avatar') {
			display: inline-block;
			vertical-align: middle;
			border: 1px solid rgba(#64584c,.5);
			border-radius: 99em;
			margin: 0 10px 0 20px;

			@include e('wrap') {
				overflow: hidden;
				display: inline-block;
				vertical-align: top;
				border-radius: 99em;
				border: 7px solid transparent;
			}
		}

		@include m('info') {
			position: relative;
			display: inline-block;
			vertical-align: middle;
			width: 56%;
			line-height: 1.4;
			text-align: left;

			@include e('name') {
				display: block;
				color: $white;
				@include font-rem(17);
				font-weight: 600;
				line-height: 1;
				letter-spacing: -.04em;
				text-transform: uppercase;
			}

			@include e('bio') {
				display: block;
				color: #3a2f24;
				@include font-rem(13);
				letter-spacing: -.02em;
				padding-top: 5px;
			}
		}
	}

	@include e('actions') {
		@include clearfix();
		background-color: $white;
		list-style: none;
		padding: 0;
		margin: 0;

		@include m('wrap') {

		}

		@include m('item') {
			padding: 0;

			@include e('link') {
				position: relative;
				display: block;
				color: $tan;
				@include font-rem(15);
				line-height: 1;
				text-decoration: none;
				text-align: left;
				padding: 12px 20px;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 3px;
					height: 100%;
					background-color: $green;
					opacity: 0;
					transition: opacity $transition-ease $transition-time;
				}

				&:hover,
				.current & {
					color: $tan;
					background-color: $brown-light;

					&:after {
						opacity: 1;
					}

					[class*="icon-"] {
						color: $red;
					}
				}
			}

			[class*="icon-"] {
				float: right;
				color: #c6bfb8;
			}
		}
	}
}